customImage:

  pushSecretName: push-secret-for-gcr
  # Prefix for image. (e.g. 'gcr.io/infuseai' for 'gcr.io/infuseai/primehub-controller:be20ee69c5')
  pushRepoPrefix: gcr.io/infuseai

  buildJob:
    resources:
      requests:
        cpu: 500m
        memory: 100Mi
      limits:
        cpu: 2000m
        memory: 1000Mi

jobSubmission:
  graphqlEndpoint: https://primehub.local/graphql
  graphqlSecret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

  workingDirSize: 5Gi
  defaultActiveDeadlineSeconds: 86400
  defaultTTLSecondsAfterFinished: 604800
