customImage:

  pushSecretName: push-secret-for-gcr
  # Prefix for image. (e.g. 'gcr.io/infuseai' for 'gcr.io/infuseai/primehub-controller:be20ee69c5')
  pushRepoPrefix: gcr.io/infuseai

  buildah:
    resources:
      requests:
        cpu: 100m
        memory: 50Mi
      limits:
        cpu: 1000m
        memory: 500Mi

jobSubmission:
  graphqlEndpoint: https://hub.celu.dev.primehub.io/graphql
  graphqlSecret: b3f0c00afb6b8e37e3f9ea05c1695ece6f8758411950ed711a8f88687fb22c84