customImage:

  pushSecretName: push-secret-for-gcr
  # Prefix for image. (e.g. 'gcr.io/infuseai' for 'gcr.io/infuseai/primehub-controller:be20ee69c5')
  pushRepoPrefix: gcr.io/infuseai

  buildah:
    resources:
      requests:
        cpu: 100m
        memory: 50Mi
      limits:
        cpu: 1000m
        memory: 500Mi

jobSubmission:
  graphqlEndpoint: https://primehub.local/graphql
  graphqlSecret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

  workingDirSize: 5Gi
  defaultActiveDeadlineSeconds: 86400
  defaultTTLSecondsAfterFinished: 604800
